{% extends 'todolist/layout.html' %}

{% block body %}
<div class="jumbotron">
  <form class="form-horizontal" action="{% url 'todolist_create' user.username %}" method="post">
    {% csrf_token %}
    <fieldset>
      <legend>Please enter the name of the todolist:</legend>
      <div class="form-group">
        {{ form.name.errors }}
        <label for="id_name" class="col-lg-2 control-label">TODO list name</label>
        <div class="col-lg-10">
          {{ form.name }}
        </div>
      </div>

      <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
          <input type="submit" class="btn btn-primary" value="Submit">
        </div>
      </div>
    </fieldset>
  </form>
</div>
{% endblock %}
