{% extends 'todolist/layout.html' %}

{% block body %}
<div class="jumbotron">
  <h2>{{ user }}'s TODO lists: <a class="btn btn-success" href="#">+</a></h2>
    {% for list in user.todolist_set.all %}
    <a href = "{% url 'todolist' username=user.username pk=list.pk %}">
      <div class="panel panel-default">
        <div class="panel-body">
          <p>{{ list.name }}
            <a href="#" class="btn btn-danger" style="float: right">Remove</a>
          </p>
        </div>
      </div>
    </a>
    {% endfor %}
</div>
{% endblock %}
