{% extends 'layout.html' %}
{% load widget_tweaks %}

{% block body %}
<div class="jumbotron">
  <form class="form-horizontal" action="{% url 'todofield:field_edit' username=user.username pk=field.parentList.pk field_pk=field.pk %}"
    method="post">
    {% csrf_token %}
    <fieldset>
      <legend>Please enter the todofield name</legend>
      <div class="form-group">
        {% for error in form.text.errors %}
          <div class="alert alert-dismissable alert-danger">
            <button type="button" class="close" data-dismiss="alert">x</button>
            {{error}}
          </div>
        {% endfor %}
        <label for="id_name" class="col-lg-2 control-label">TODO</label>
        <div class="col-lg-10">
          {{ form.text|add_class:"form-control" }}
        </div>
      </div>

      <div class="form-group">
        {% for error in form.deadline.errors %}
          <div class="alert alert-dismissable alert-danger">
            <button type="button" class="close" data-dismiss="alert">x</button>
            {{error}}
          </div>
        {% endfor %}
        <label for="id_name" class="col-lg-2 control-label">Deadline</label>
        <div class="col-lg-10">
          {{ form.deadline }}
        </div>
      </div>

      <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
          <input type="submit" class="btn btn-primary" value="Submit">
        </div>
      </div>
    </fieldset>
  </form>
</div>
{% endblock %}
