{% extends 'layout.html' %}

{% block body %}
<div class="jumbotron">
  <h2>{{ this_user }}'s TODO lists: 
    {% if this_user.username == user.username %}
    <a class="btn btn-success" 
        href="{% url 'todolist:create' user.username %}">+</a>
    {% endif %}
  </h2>
  {% for list in this_user.todolist_set.all %}
  <a href = "{% url 'todolist:todolist' username=this_user.username pk=list.pk %}">
    <div class="panel panel-default">
      <div class="panel-body">
        <p>{{ list.name }}
          {% if this_user.username == user.username %}
          <a href="{% url 'todolist:delete' username=this_user.username pk=list.pk %}" 
              class="btn btn-danger" style="float: right">Remove</a>
          <a href="{% url 'todolist:edit' username=this_user.username pk=list.pk %}"
              class="btn btn-info" style="float:right">Edit</a>
          {% endif %}
        </p>
      </div>
    </div>
  </a>
  {% endfor %}
</div>
{% endblock %}
